node-red.flow
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"ce4d5ffb.bac6b8","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":400,"wires":[["c0c482df.3f3b8"]]},{"id":"c0c482df.3f3b8","type":"debug","z":"ce4d5ffb.bac6b8","name":"device data","active":true,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"ce4d5ffb.bac6b8","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"dronepi","deviceType":"DJI_Drone","eventCommandType":"turnRight","format":"json","data":"temp:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"ce4d5ffb.bac6b8","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"ce4d5ffb.bac6b8","name":"Close","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n          \"action\" : \"motorClose\",  \n          \"pulseWidth\" : 1500, \n        \"increment\": 0,\n        \"interval\": 250,\n        \"stopat\": 1501,\n        \"motorSpin\": 900,\n           \"turn\" : 1500,\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nmsg.eventOrCommandType = \"motorClose\";\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["cbe1a0b7.cd877","805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"ce4d5ffb.bac6b8","name":"todrone","active":true,"console":"false","complete":"payload","x":520,"y":180,"wires":[]},{"id":"141b7c7.ad42a84","type":"comment","z":"ce4d5ffb.bac6b8","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"ce4d5ffb.bac6b8","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"ce4d5ffb.bac6b8","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"859dc462.1ced2","type":"function","z":"ce4d5ffb.bac6b8","name":"Open","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"action\" : \"motorOpen\", \n        \"pulseWidth\" : 1500, \n        \"increment\": 0,\n        \"interval\": 250,\n        \"stopat\": 1501,\n        \"motorSpin\": 1800,\n        \"turn\" : 500,\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nmsg.eventOrCommandType = \"motorOpen\";\nreturn msg;\n","outputs":1,"noerr":0,"x":267,"y":205,"wires":[["805c97ee.3ed9e8","cbe1a0b7.cd877"]]},{"id":"477c2225.a5f97c","type":"inject","z":"ce4d5ffb.bac6b8","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":94,"y":205,"wires":[["859dc462.1ced2"]]},{"id":"566c0ca8.fa0a64","type":"ui_gauge","z":"ce4d5ffb.bac6b8","tab":"fd761ca9.2ffbb","name":"Motor","group":"","order":1,"format":"{{value}}","min":0,"max":10,"x":584.5,"y":417,"wires":[]},{"id":"69154961.f513e8","type":"inject","z":"ce4d5ffb.bac6b8","name":"Send Data","topic":"","payload":"111","payloadType":"json","repeat":"","crontab":"","once":false,"x":415,"y":430,"wires":[["566c0ca8.fa0a64"]]},{"id":"e5e739d8.e2f5f","type":"ui_button","z":"ce4d5ffb.bac6b8","tab":"fd761ca9.2ffbb","name":"Open","payload":"{500}","topic":"motorOpen","group":"","order":1,"x":537.5,"y":322,"wires":[["3eff24c1.1c7e64","7eacb7a.346a7c8","70932e4d.84f288"]]},{"id":"3eff24c1.1c7e64","type":"debug","z":"ce4d5ffb.bac6b8","name":"ui  data","active":true,"console":"false","complete":"true","x":720,"y":382,"wires":[]},{"id":"6534d46c.9345d4","type":"ui_button","z":"ce4d5ffb.bac6b8","tab":"fd761ca9.2ffbb","name":"Close","payload":"{1500}","topic":"motorClose","group":"","order":1,"x":545,"y":269,"wires":[["3eff24c1.1c7e64","7eacb7a.346a7c8","70932e4d.84f288"]]},{"id":"7eacb7a.346a7c8","type":"switch","z":"ce4d5ffb.bac6b8","name":"CheckAction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"motorOpen","vt":"str"},{"t":"eq","v":"motorClose","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":737.5,"y":278.75,"wires":[["859dc462.1ced2"],["6b4a591c.014b18"],[]]},{"id":"70932e4d.84f288","type":"function","z":"ce4d5ffb.bac6b8","name":"","func":"if (msg.topic == \"motorOpen\")\n    msg.payload = 00;\nif (msg.topic == \"motorClose\")\n    msg.payload = 1500;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":404.5,"y":370.75,"wires":[["566c0ca8.fa0a64"]]},{"id":"fd761ca9.2ffbb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":"1"}]
